body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  justify-content: flex-end;
}

body * {
  font-family: inherit;
}

#msgForm {
  display: none;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.5rem 2vw;
  align-items: center;
  gap: 1rem;
  min-height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  flex-wrap: nowrap;
}

input {
  border: none;
  padding: 0.5rem;
  flex: 1 1 auto;
  border-radius: 0.25rem;
}

#usercount {
  font-size: min(15px, 2vw);
  margin: 0;
}
a.button {
  color: #17f;
  width: 6rem;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #17f;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
  text-decoration: none;
  margin: auto 0;
}

#messages {
  display:flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  overflow: auto;
  min-height: min-content;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}

#magicword{
  width: 82vh;
  height: 82vh;
}