#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  flex-wrap: nowrap;
}

#input {
  border: none;
  padding: 0 1rem;
  flex: 1 1 auto;
  border-radius: 2rem;
  margin: 0.25rem;
}

#author {
  border: none;
  padding: 0 1rem;
  flex: 1 1 auto;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#usercount {
  flex: 0 0 auto;
  font-size: 40px;
  margin: 0.10rem
}

#form>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}
